<html>
	<head>
		<title>Los Dragonianos</title>
	</head>
	<body>
		<h1>Bienvenidos al Buscaminas de los Dragonianos!!!</h1>
		<fieldset>
			<table width="50%" height="50%" border="1">
				<tr>
					<td>&nbsp</td>
					<td>&nbsp</td>
					<td>&nbsp</td>
				</tr>
				<tr>
					<td>&nbsp</td>
					<td>&nbsp</td>
					<td>&nbsp</td>
				</tr>
				<tr>
					<td>&nbsp</td>
					<td>&nbsp</td>
					<td>&nbsp</td>
				</tr>
			</table>
			<hr>
			<form method="post" action="/pinchar">
				<label>X: <input type="text" name="x"></label><br>
				<label>Y: <input type="text" name="y"></label><br>
				<input type="hidden" name="posX" value="<%= @posX %>">
				<input type="hidden" name="posY" value="<%= @poxY %>">
				<input type="submit" value="Pinchar" name="Pinchar">
			</form>
		</fieldset>
	<body>
</html>
