<html>
	<head>
		<title>Los Dragonianos</title>
	</head>
	<body>
		<h1>Bienvenidos al Buscaminas de los Dragonianos!!!</h1>
		<fieldset>
			<%= @tablero.dibuja %>
			<hr>
			<form method="post" action="/pinchar">
				<label>X: <input type="text" name="x"></label><br>
				<label>Y: <input type="text" name="y"></label><br>
				<input type="submit" value="Pinchar" name="Pinchar">
			</form>
		</fieldset>
	<body>
</html>
